// Place all the styles related to the Spectrum_Ranges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* mixins, variables */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

/* universal */

html {
	overflow-y: scroll;
}

body {
}

/* spectrum */

.row {
	font-size:0;
}

#spectrum-holder {
	border-right: 5px black solid;
	color:white;
	bottom:200px;
}

#add-action {
	display:none;
}

div.range {
	color:white;
	font-size:30px;
	position:relative;
	display:block;
	border-bottom: 5px black solid;
	@include box_sizing;
}

div.range-block{
	border-top: 5px black solid;
	border-right: 5px black solid;
	border-left: 5px black solid;
	display:inline-block;
	margin:20px 0 0 0;
	font-size:20px;
	color:white;
	vertical-align:top;
}

div.empty-range {
	background-color:gray;
	height:100px;
	border-bottom: 5px black solid;
	@include box_sizing;
}

div.range-label {
	color: black;
	position:relative;
	left:-15px;
	top: 5px;
	height:0;
	float:left;
	text-align:right;
	font-size:12px;
}
div .footer {
	margin-top:40px;
}
